body {
  margin: 0 auto 0 auto; /* Keeps content off the sides of the screen. */
  font-family: ; /* font for the entire page unless classed otherwise. change this later I dont like the font */
  padding-bottom: 20px; /*padding for the bottom, gives space between content and bottom */
  background-color: #e6e1d9;
}

/* This is for the grid set up. you shouldn't need to change this. */
.grid {
  display: grid;
  grid-template-columns: repeat(
    6,
    1fr
  ); /* column layout- 6 in total, splits equally should be responsive. test later. */
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  padding: 0 40px; /* 0 = top and bottom, 40 = sides*/
  grid-template-areas: '. content content content content .'; /* content lay out. full stop = null */
}

.content {
  grid-area: content; /*makes line 17 work correctly*/
  max-width: 1000px; /*ensures content wont get too big*/
  width: 100%; /*fills space*/
}

.top-header {
  background-color: #bfbeae;
  height: 90px;
}

.intro {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
}

.main-header {
  font-size: 2rem;
  text-align: center;
}

.divider {
  background-image: url('../images/line-2.svg');
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.text1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
}

.text2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
}

.text3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
}

.flower {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
}

.container-links {
  display: flex;
  flex-direction: row;
  height: 150px;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  font-size: 17px;
}
